
# Vim Files
.*.swp

# Haskell Files
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

# C++ Build Artefacts
*.o
*.tsk
*.tags
*.ctags

# Sublime Files
*.sublime-project
*.sublime-workspace

# LaTeX Output
*.pdf

# LaTeX Working Files
*.aux
*.fdb*
*.fls
*.log
*.out
*.synctex*
*.toc
*.acn
*.acr
*.alg
*.bbl
*.blg
*.glg
*.glo
*.gls
*.xdy
